{% extends 'base.html.twig' %}

{% block title %}Healthy Food Restaurant in Rehoboth Beach | Seedbol Kitchen{% endblock %}

{% block body %}
    <section class="mainScreen">
        <div class="container fullwidth">
            <div class="mainScreen__inner">
                <div class="mainScreen__slider js-main-slider">
                    <div class="mainScreen__sliderItem">
                        <div class="mainScreen__sliderItemInner">
                            <img src="{{ asset('images/s-1.webp') }}" loading="lazy" alt="Slide Background Image" class="mainScreen__sliderItemImg" />
                            <div class="mainScreen__sliderItemContent">
                                <h2 class="mainScreen__sliderItemTitle title">
                                    Create a Bowl Your Way
                                </h2>
                                <div class="mainScreen__sliderItemBtns">
                                    <a href="https://orders.hazlnut.com/menu/b/SEED%20eatery/n/308/p/85/g/1308" target="_blank" class="mainScreen__sliderItemBtn btn btn-regular">Pickup</a>
                                    <a href="https://order.online/store/seed-eatery-939053" target="_blank" class="mainScreen__sliderItemBtn btn btn-regular">Delivery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainScreen__sliderItem">
                        <div class="mainScreen__sliderItemInner">
                            <img src="{{ asset('images/s-2.webp') }}" loading="lazy" alt="Slide Background Image" class="mainScreen__sliderItemImg" />
                            <div class="mainScreen__sliderItemContent">
                                <h2 class="mainScreen__sliderItemTitle title">
                                    Balanced & Healthy
                                </h2>
                                <div class="mainScreen__sliderItemBtns">
                                    <a href="/menu.html" class="mainScreen__sliderItemBtn btn btn-regular">Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainScreen__sliderItem">
                        <div class="mainScreen__sliderItemInner">
                            <img src="{{ asset('images/s-3.webp') }}" loading="lazy" alt="Slide Background Image" class="mainScreen__sliderItemImg" />
                            <div class="mainScreen__sliderItemContent">
                                <h2 class="mainScreen__sliderItemTitle title">
                                    We Cater
                                </h2>
                                <div class="mainScreen__sliderItemBtns">
                                    <a href="https://orders.hazlnut.com/menu/b/SEED%20eatery/n/308/p/85/g/1308/catering" target="_blank" class="mainScreen__sliderItemBtn btn btn-regular">Ordre Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainScreen__sliderItem">
                        <div class="mainScreen__sliderItemInner m-secondary">
                            <img src="{{ asset('images/s-4.webp') }}" loading="lazy" alt="Slide Background Image" class="mainScreen__sliderItemImg" />
                            <div class="mainScreen__sliderItemContent">
                                <h2 class="mainScreen__sliderItemTitle title">
                                    Natural<br class="mobile" />
                                    •<br class="mobile" />
                                    Vegan Friendly<br class="mobile" />
                                    •<br class="mobile" />
                                    Locally Sourced
                                </h2>
                                <div class="mainScreen__sliderItemBtns">
                                    <a href="/rehoboth-beach-seedbol-seed-eatery-about.html#" class="mainScreen__sliderItemBtn btn btn-regular">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainScreen__sliderItem">
                        <div class="mainScreen__sliderItemInner">
                            <img src="{{ asset('images/s-5.webp') }}" loading="lazy" alt="Slide Background Image" class="mainScreen__sliderItemImg" />
                            <div class="mainScreen__sliderItemContent">
                                <h2 class="mainScreen__sliderItemTitle title">
                                    Join Seedbol Rewards
                                </h2>
                                <div class="mainScreen__sliderItemBtns">
                                    <a href="https://scnv.io/uc0j" target="_blank" class="mainScreen__sliderItemBtn btn btn-regular">Download Our App Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="address">
        <div class="container">
            <div class="address__inner">
                <address class="address__address">
                    <a class="address__marker" href="#map"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="off-screen">map marker pin</span></a>18979 Coastal Highway Unit 105, Rehoboth Beach, DE 19971
                </address>
            </div>
        </div>
    </section>
    <section class="about bg-fixed">
        <div class="container fullwidth flexible">
            <div class="about__inner">
                <div class="about__row">
                    <div class="about__colContent">
                        <h4 class="about__title title">Seedbol Kitchen</h4>
                        <h1 class="about__subtitle">
                            THE BEST RESTAURANT IN REHOBOTH BEACH
                        </h1>
                        <p class="about__text">
                            Since its founding, SEED eatery, now Seedbol has been called
                            the best restaurant in Rehoboth Beach!
                        </p>
                        <p class="about__text">
                            Experience the fresh and healthy flavors of Seedbol! Our
                            menu is 100% gluten-free and features plant-based,
                            locally-sourced ingredients. At Seedbol, we empower you to
                            create your own customized bowl from a variety of fresh and
                            healthy goods.
                        </p>
                        <p class="about__text">
                            Come visit us and taste the difference today!
                        </p>
                        <div class="about__btnWrap">
                            <a href="https://my.matterport.com/show/?m=wkJLBzdPxS7" target="_blank" class="about__btn btn btn-regular" type="button">3D Tour</a>
                        </div>
                    </div>
                    <div class="about__colImage">
                        <img src="{{ asset('images/about-1.png') }}" loading="lazy" alt="About image 1" class="about__img" />
                    </div>
                </div>
                <div class="about__row">
                    <div class="about__colImage">
                        <img src="{{ asset('images/about-2.png') }}" loading="lazy" alt="About image 2" class="about__img" />
                    </div>
                    <div class="about__colContent m-secondary">
                        <h4 class="about__title title">The Food</h4>
                        <h5 class="about__subtitle">
                            GLUTEN-FREE ∙ DAIRY-FREE ∙ EGG-FREE
                        </h5>
                        <p class="about__text">
                            We begin our day with the highest quality ingredients,
                            preparing everything we serve from scratch each and every
                            day. We prioritize sourcing from local farms to ensure the
                            freshest and highest quality produce for our dishes. Our
                            commitment to using all-natural ingredients means that you
                            can enjoy our food with confidence, knowing that it is free
                            from artificial additives and preservatives.
                        </p>
                        <p class="about__text">
                            When you visit Seedbol, you'll find a variety of delicious
                            food options available in our cafeteria-style line. From our
                            cold and hot side stations to our selection of healthy vegan
                            treats, there's something to satisfy every craving. We also
                            take pride in offering seasonal kombucha that is made
                            in-house, providing a refreshing and flavorful beverage
                            option.
                        </p>
                        <p class="about__text">
                            It's no surprise that SEED eatery, now Seedbol, has been
                            nominated for the best restaurant in Rehoboth Beach. We are
                            dedicated to providing a dining experience that not only
                            delights your taste buds but also supports your well-being.
                        </p>
                        <p class="about__text">
                            Join us at Seedbol and discover why we are the go-to
                            destination for those seeking delicious, wholesome, and
                            accommodating food. We can't wait to serve you under our new
                            name and continue our commitment to excellence.
                        </p>
                        <div class="about__logosWrap">
                            <div class="about__logoWrap">
                                <img src="{{ asset('images/about-logo-1.png') }}" loading="lazy" alt="Gluten free logo" class="about__logoImg" />
                            </div>
                            <div class="about__logoWrap">
                                <img src="{{ asset('images/about-logo-2.png') }}" loading="lazy" alt="Dairy free logo" class="about__logoImg" />
                            </div>
                            <div class="about__logoWrap">
                                <img src="{{ asset('images/about-logo-3.png') }}" loading="lazy" alt="Egg free logo" class="about__logoImg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="video">
        <div class="video__inner">
            <video autoplay="autoplay" id="coverVideo" loop="loop" muted="muted" playsinline="playsinline" poster="https://static.spotapps.co/website_images/ab_websites/87967_website/video_poster.jpg">
                <source src="https://static.spotapps.co/website_videos/2022%209.20%20Spothopper%20Seed%20Rehoboth%20De%2087967%20Video_Vimeo720p30.m4v" type="video/mp4" />
            </video>
        </div>
    </section>
    <section class="textContent">
        <div class="container">
            <div class="textContent__inner">
                <h4 class="textContent__title title">
                    How to Embrace the Power of Clean Eating with Seedbol Rehoboth
                    Restaurant
                </h4>
                <div class="textContent__content">
                    <p class="textContent__paragraph">
                        In the age when trending diets emerge at breakneck speed and
                        fast food lurks around each corner, navigating the culinary
                        scene in pursuit of a healthy lifestyle may be confusing.
                        Whether you are willing to introduce some changes to your
                        daily ration or just want to pack the fridge with Rehoboth
                        gastronomic delights, Seedbol has everything you need to make
                        it easy. As one of the best health-conscious dining spots
                        around, we prepare plant-based, gluten-free meals with love
                        and precision to fuel your body with fresh veggies and fruits,
                        lean proteins, healthy fats, and whole grains – all the finest
                        things Mother Nature has blessed us with. These tips will help
                        you embrace clean eating with Rehoboth dining gems from
                        Seedbol:
                    </p>
                    <h5 class="textContent__ContentTitle">
                        Get Rehoboth culinary masterpieces right to your place
                    </h5>
                    <p class="textContent__paragraph">
                        Eating healthy food in Rehoboth has never been easier. Indeed,
                        Seedbol delivery will save you from mealtime madness whenever
                        you are staring into the abyss of your empty fringe,
                        desperately trying to come up with a quick, yet wholesome
                        dinner option. We are happy to present you with a solid choice
                        of bowl meals tailored to the gluten-free diet, while you can
                        also customize your order as you wish. Healthy food delivery
                        from Seedbol is your way to ditch kitchen chaos and save your
                        precious time.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        Involve your family in organic dining
                    </h5>
                    <p class="textContent__paragraph">
                        Make sure you keep your beloved ones safe with a fresh and
                        healthy menu crafted by professional chefs from quality,
                        gluten-free ingredients. It’s not only about feeding your
                        family with Rehoboth culinary treasures, we are talking about
                        nourishing people you love from the inside out. Whether you
                        are looking for refreshing salad bowls or hearty protein
                        bowls, we have something special to accommodate everyone’s
                        preferences!
                    </p>
                    <h5 class="textContent__ContentTitle">
                        Explore the riches of Rehoboth food scene to serve wholesome
                        meals
                    </h5>
                    <p class="textContent__paragraph">
                        Savor the vibrant flavor of Rehoboth gastronomic excellence
                        with Seedbol gluten-free products from local farms! Be it an
                        office launch, birthday party, friend gathering, or family
                        meeting, you can always take advantage of our catering service
                        to get finger-licking, wholesome, gluten-free foods anytime
                        and anywhere. Feel free to customize your menu to get the most
                        exciting Rehoboth dining experiences.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        Pick nourishing bowls according to your dietary needs
                    </h5>
                    <p class="textContent__paragraph">
                        Adapting to everyone’s dietary restrictions is probably one of
                        the major difficulties of family mealtime. Whether you are
                        dealing with celiac disease, gluten intolerance, or wheat
                        allergy, have vegetarians, or your children are picky eaters,
                        Seedbol offers a wide range of Rehoboth dining options to suit
                        every taste and dietary need. From gluten-free snacks to poke
                        bowl variations – there’s something each of you will enjoy.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        Do not hesitate to treat yourself
                    </h5>
                    <p class="textContent__paragraph">
                        Clean eating is not at all about depriving yourself of simple
                        life pleasures. So, do not deny yourself a spontaneous treat,
                        be it your favorite Chocolate Chip & Banana Muffin or Peanut
                        Butter Chocolate Oat Bar from Seedbol restaurant Rehoboth. Our
                        homemade desserts are vegan and gluten-free to support your
                        lifestyle rooted in mindfulness.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery bg-fixed">
        <div class="container">
            <div class="gallery__inner">
                <h4 class="gallery__title title">Gallery</h4>
                <div class="gallery__grid js-gallery">
                    <div class="gallery__item">
                        <a href="images/slide.jpg" class="gallery__link">
                            <img src="{{ asset('images/g-1.jfif') }}" loading="lazy" alt="Best Picante Shrimp Protein for Salad Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-2.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-2.jfif') }}" loading="lazy" alt="Best Plant Based Salad Bowl Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-3.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-3.jfif') }}" loading="lazy" alt="Best Homemade Vegan Dessert Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-4.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-4.jfif') }}" loading="lazy" alt="Bowl of green beans. Tender Greens, Just Salad, Freshii" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-5.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-5.jfif') }}" loading="lazy" alt="Employee holding kale.  Sprout, Locali, The Little Beet, Fresh & Co, Eatsa, Tossed" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-6.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-6.jfif') }}" loading="lazy" alt="Best Homemade Vegan Desserts Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-7.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-7.jfif') }}" loading="lazy" alt="Best Vegan Homemade Sauces Rehoboth Bech" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-8.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-8.jfif') }}" loading="lazy" alt="Interior of the restaurant. Cava, Sweetgreen, Salad Works, Chopt" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-9.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-9.jfif') }}" loading="lazy" alt="Best Homemade Kombucha Lewes Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-10.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-10.jfif') }}" loading="lazy" alt="Best Vegan Bowl Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-11.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-11.jfif') }}" loading="lazy" alt="Best Healthy Salad Bowl Rehoboth Beach" class="gallery__img" />
                        </a>
                    </div>
                    <div class="gallery__item">
                        <a href="images/g-12.jfif" class="gallery__link">
                            <img src="{{ asset('images/g-12.jfif') }}" loading="lazy" alt="Employee working at cash register. Lunch, Dinner near me, panera bread" class="gallery__img" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="textContent">
        <div class="container">
            <div class="textContent__inner">
                <h4 class="textContent__title title">
                    Frequently Asked Questions
                </h4>
                <div class="textContent__content">
                    <h5 class="textContent__ContentTitle">
                        What is Homemade Kombucha?
                    </h5>
                    <p class="textContent__paragraph">
                        Homemade kombucha is a fermented tea made by combining sweetened tea with a symbiotic culture of bacteria and yeast (SCOBY) and allowing it to ferment for 7-10 days. Popular flavors include Blueberry & Ginger, which offers a refreshing, antioxidant-rich drink with a spicy kick; Seedbol Pineapple & Basil, a tropical blend providing a vitamin C boost and anti-inflammatory benefits; and Strawberry Mojito, inspired by the classic cocktail, blending sweet strawberries, refreshing mint, and a hint of lime for a delicious, antioxidant-packed beverage.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        What is a food bowl?
                    </h5>
                    <p class="textContent__paragraph">
                        A food bowl is a versatile and convenient meal option that combines a variety of ingredients in a single container, often emphasizing balance and nutrition. Farmer's Bowl includes fresh, locally sourced vegetables, grains, and proteins, highlighting seasonal produce. Vegan Summer features plant-based ingredients such as leafy greens, legumes, and grains, focusing on summer flavors and freshness. RainBowl is a colorful, nutrient-rich bowl with a mix of vibrant vegetables, fruits, grains, and proteins designed to be both visually appealing and nutritionally balanced. Regular Bowl offers a standard-sized meal with a balanced assortment of proteins, vegetables, and carbohydrates. Small Bowl is a lighter option, perfect for smaller meals or snacks, maintaining the same variety but in smaller portions. A La Carte Bowl allows for customization, enabling diners to choose their preferred ingredients to create a personalized meal according to their taste and dietary preferences.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        How long does homemade desserts last?
                    </h5>
                    <p class="textContent__paragraph">
                        Homemade desserts have varying shelf lives depending on their ingredients and storage methods. Peanut Butter Chocolate Oat Bars can last up to a week when stored in an airtight container at room temperature or up to two weeks in the refrigerator. Chocolate Chip & Banana Muffins are best consumed within 2-3 days when kept at room temperature, but they can last up to a week in the refrigerator. Peanut Butter Cheesecake, Chocolate Cheesecake, and Lemon Poppy Cheesecake should all be stored in the refrigerator, where they can last for up to 5-7 days. For all desserts, freezing can extend their shelf life to about 2-3 months if properly wrapped and sealed.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        Are soups healthy for you?
                    </h5>
                    <p class="textContent__paragraph">
                        Soups can be a nutritious and beneficial part of your diet when prepared with the right ingredients. At Garden Harvest, we focus on using fresh vegetables, legumes, and herbs to create soups that are rich in vitamins, minerals, and antioxidants. Our Noodles & Rice options incorporate whole grains and lean proteins, offering a balanced and satisfying meal that supports sustained energy and digestive health. Fusion Delight soups combine diverse flavors and ingredients from various cuisines, bringing together the best of global nutrition practices to enhance overall health and wellness. By choosing soups that are low in sodium and free from artificial additives, you can enjoy a flavorful and healthy meal that contributes positively to your dietary needs.
                    </p>
                    <h5 class="textContent__ContentTitle">
                        What is the best restaurant in Rehoboth Beach?
                    </h5>
                    <p class="textContent__paragraph">
                        The best restaurant in Rehoboth Beach is Seedbol Kitchen, renowned for its exceptional bowls and soups. Located at 18979 Coastal Highway Unit 105, Rehoboth Beach, DE 19971, Seedbol Kitchen offers a delightful dining experience with a variety of healthy and flavorful options. It operates daily from 11:00 AM to 8:00 PM, making it a convenient choice for both lunch and dinner. Whether you're a local or a visitor, Seedbol Kitchen is a must-visit spot for a nutritious and satisfying meal.
                    </p>
                </div>
            </div>
        </div>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "FAQPage",
                "mainEntity": [
                    {
                        "@type": "Question",
                        "name": "What is Homemade Kombucha?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Homemade kombucha is a fermented tea made by combining sweetened tea with a symbiotic culture of bacteria and yeast (SCOBY) and allowing it to ferment for 7-10 days. Popular flavors include Blueberry & Ginger, Seedbol Pineapple & Basil, and Strawberry Mojito, offering a variety of refreshing, antioxidant-rich beverages."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "What is a food bowl?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "A food bowl is a versatile and convenient meal option that combines a variety of ingredients in a single container, often emphasizing balance and nutrition. Options include the Farmer's Bowl, Vegan Summer, RainBowl, Regular Bowl, Small Bowl, and A La Carte Bowl, each offering different combinations of fresh, seasonal ingredients tailored to various dietary preferences."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "How long does homemade desserts last?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Homemade desserts have varying shelf lives depending on their ingredients and storage methods. For example, Peanut Butter Chocolate Oat Bars can last up to a week at room temperature or two weeks in the refrigerator, while cheesecakes should be refrigerated and can last up to 5-7 days."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "Are soups healthy for you?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Soups can be a nutritious and beneficial part of your diet when prepared with the right ingredients. At Garden Harvest, we focus on using fresh vegetables, legumes, and herbs to create soups that are rich in vitamins, minerals, and antioxidants, offering a balanced and satisfying meal."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "What is the best restaurant in Rehoboth Beach?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "The best restaurant in Rehoboth Beach is Seedbol Kitchen, known for its exceptional bowls and soups. Located at 18979 Coastal Highway Unit 105, Rehoboth Beach, DE 19971, Seedbol Kitchen offers a delightful dining experience with a variety of healthy and flavorful options."
                        }
                    }
                ]
            }
        </script>
    </section>
    <section class="formMapSection">
        <div class="container fullwidth">
            <div class="formMapSection__inner">
                <div class="formMapSection__formWrap">
                    <div class="formMapSection__formWrapInner">
                        <h4 class="formMapSection__title title">Newsletter</h4>
                        <h5 class="formMapSection__subtitle">
                            Sign up for our newsletter & get exclusive offers and
                            invites!
                        </h5>
                        <div class="formMapSection__btnWrap">
                            <a href="https://mailchi.mp/seedbol/seedbol-insider-access" class="formMapSection__btnLink btn" target="_blank">Sign Up</a>
                        </div>
                        <!-- <form action="" class="formMapSection__form">
            <div class="formMapSection__formInner">
              <div class="formMapSection__col m-bar">
                <label for="email" class="formMapSection__formLabel"
                  >Email (required)</label
                >
                <input
                  type="email"
                  id="email"
                  class="formMapSection__formInput"
                  placeholder="e.g. email@example.com"
                />
                <span class="bar"></span>
              </div>
              <div class="formMapSection__col m-secondary">
                <button
                  class="formMapSection__formButton btn"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </div>
          </form> -->
                    </div>
                </div>
                <div class="formMapSection__mapWrap">
                    <div class="formMapSection__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.471580346502!2d-75.13331492363503!3d38.729939356566945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b8b7a27beafd4f%3A0xf57372cb09a41ac!2zMTg5NzkgQ29hc3RhbCBId3kgVW5pdCAxMDUsIFJlaG9ib3RoIEJlYWNoLCBERSAxOTk3MSwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1710232269159!5m2!1suk!2sua" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
